@import url("../fonts/stylesheet.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    background: linear-gradient(
            34deg,
            rgba(137, 128, 255, 1) 0%,
            rgba(235, 238, 255, 1) 49%,
            rgba(133, 183, 225, 1) 100%
    ) no-repeat;
}

.page {
    max-width: 1920px;
    width: 100%;
    min-height: 1198px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px;
}

.page {
    gap: 15px;
}

.nav {

    max-width: 102px;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.25s ease-in-out;
    margin-top: 90px;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .50);
    /*размываем элемент*/
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav:hover {
    max-width: 334px;
}

.nav_logo {
    max-width: 300px;
    width: 100%;
    padding-top: 37px;
    min-height: 39px;
    display: flex;
    flex-direction: row;
    gap: 13px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.15s;
}

.nav_logo:hover {
    opacity: 0.85;
    transform: scale(1.025);
}

.nav_logo-img {
    width: 37px;
    height: 37px;
    margin-left: 33px;
}

.nav_logo-text {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    max-width: 272px;
    width: 100%;
    margin-left: 25px;
    margin-top: -100px;
}

.nav_link {
    padding: 25px 25px;
    max-width: 272px;
    width: 100%;
    height: 47px;
    text-decoration: none;
    color: #9197b3;
    display: flex;
    align-items: center;
    gap: 16px;
    transition: 0.15s;
}

.nav_link:hover {
    background: #665cfad8;
    border-radius: 8px;
    color: #ffffff;
}

.nav_link-active {
    background: #665cfa4d;
    border-radius: 8px;
    color: #ffffff;
}

.nav_link-img {
    width: 32px;
    height: 30px;
}

.nav_link-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    /* white-space: nowrap; */
    opacity: 0;
    transition: 0.15s;
}

.nav:hover .nav_link-text {
    opacity: 1;
}

.nav:hover .nav_logo-text {
    opacity: 1;
}

.nav_user {
    max-width: 370px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: 125px;
    transition: 0.25s ease-in-out;
    margin-bottom: 50px;
    cursor: pointer;
    text-decoration: none;
}

.nav_user-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
}

.nav:hover .nav_user {
    margin-left: 0;
}

.nav_user-container {
    max-width: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.nav_user-info {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #757575;
    white-space: nowrap;
    transition: 0.25s ease-in-out;
    opacity: 0;
}

.nav:hover .nav_user-info {
    margin-left: 0;
    opacity: 1;
}

.nav_user:hover {
    border-radius: 20px;
    box-shadow: 0 11px 1rem 0 rgba(0, 0, 0, .2);
    transform: scale(0.98);
}

.search {
    order: 2;
    position: absolute;
    top: 1%;
    right: 1.5%;
}

.search-container {
    max-width: 300px;
    display: block;
    max-height: 50px;
}

input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px 0 50px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    outline: none;
    box-shadow: 0 10px 40px rgba(103, 112, 122, 0.5);
    border-radius: 12px;
}

:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
}

.search-icon {
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
    top: -60px;
    right: 10px;
}

.main-page {
    width: 93%;
    order: 1;
    top: 90px;
    right: 13px;
    transition: 0.25s ease-in-out;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 34px;
    padding-left: 100px;
    padding-right: 25px;
    margin-right: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.50);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.main-text {
    font-size: 80px;
    text-align: center;
    color: red;
    margin-bottom: -150px;
}

.container-page {
    margin-top: 10%;
    margin-left: 12%;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: rgb(161, 0, 0);
    background-image: url("../static/img/rabota.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.15s;


}

.container-page:hover {
    width: 80%;
    height: 60%;
    box-shadow: 5px 5px 15px black;
}

.main-page_top {
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: baseline;
    align-self: flex-start;
    max-width: 1000px;
    width: 100%;
    height: 50px;
    flex-wrap: wrap;
}

#main-search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px 0 50px;
    font-size: 1rem;
    outline: none;
    background: #f9fbffef;
    border: none;
    border-radius: 12px;
    transition: 0.25s ease-in-out;
}

:focus {
    border: 1px solid #008abf;
    transition: 0.35s ease;
    color: #008abf;
}

#main-search-bar:hover {
    box-shadow: 0 2px 5px rgba(103, 112, 122, 0.15);
}

.main-page_title {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: #000000;
    white-space: nowrap;
}

.main-page_form {
    box-shadow: 5px 5px 10px rgba(103, 112, 122, 0.15);
    max-width: 1600px;
    width: 100%;
    min-height: 423px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.main-page_form-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-page_form-lots {
    display: flex;
    gap: 15px;
}

.main-page_form-lot {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: -0.01em;
    margin-left: 15px;
    color: #acacac;
}

.main-page_form-lot-amount {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* or 32px */

    letter-spacing: -0.01em;

    color: #333333;
}

.main-page_form-sort {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.main-page_form-sort-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.01em;

    color: #7e7e7e;
}

.main-page_form-select {
    border: none;
    width: 170px;
    height: 40px;
    background: #f9fbff;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.25s ease-in-out;
}

.main-page_form-select:hover {
    box-shadow: 0 2px 5px rgba(103, 112, 122, 0.15);
}

.main-page_form-option {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #000000;
    transition: 0.25s ease-in-out;
}

.main-page_form-params {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}

.main-page_form-date-container {
    display: flex;
    align-items: center;
}

.main-page_form-input-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #595959;
    max-width: 50px;
    width: 100%;
    height: 40px;
    /* Gray/Table header (gray-2) */
    background: #fafafa;
    /* Gray/Border (gray-5) */
    border: 1px solid #d9d9d9;
    border-radius: 3px 0 0 3px;
    text-align: center;
    padding-top: 9px;
}

.main-page_form-date-container .main-page_form-input-text {
    margin-left: 12px;
}

.main-page_form-input {
    max-width: 200px;
    width: 100%;
    height: 40px;
    background: #ffffff;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-left: none;
    transition: 0.25s ease-in-out;
}

.main-page_form-input:hover {
    box-shadow: inset -1px 0 5px #d9d9d9, inset 0 1px 0 #d9d9d9,
    inset 0 -1px 0 #d9d9d9;
}

.main-page_form-filters-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    gap: 25px 15px;
    justify-content: space-evenly;
}

.main-page_form-input-container {
    display: flex;
    flex-wrap: nowrap;
    max-width: 365px;
    width: 100%;
}

.main-page_form-filters-container .main-page_form-input-text {
    font-size: 20px;
    max-width: 100%;
}

.main-page_form-filters-container .main-page_form-input {
    font-size: 20px;
    max-width: 100%;
}

.main-page_form-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: 15px;
    margin-top: 30px;
}

.main-page_form-btn-submit {
    max-width: 158px;
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background: none;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #40a9ff;
    color: #40a9ff;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main-page_form-btn-submit:hover {
    box-shadow: inset -2px 0 5px #b1b1b1, inset 0 1px 0 #a7a7a7,
    inset 0 -1px 0 #d9d9d9;
}

.main-page_form-btn-reset {
    max-width: 100px;
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background: none;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #d9d9d9;
    color: #595959;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main-page_form-btn-reset:hover {
    box-shadow: inset -1px 0 5px #b1b1b1, inset 0 0 2px #a7a7a7,
    inset 0 -1px 0 #d9d9d9;
    background: #d1d1d11a;
    opacity: 0.85;
}

.main-page_form-btn-search {
    max-width: 100px;
    width: 100%;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    background: #1890ff;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid #d9d9d9;
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main-page_form-btn-search:hover {
    box-shadow: inset -1px 0 5px #707070, inset 0 0 1px #4b4b4b,
    inset 0 -1px 0 #d9d9d9;
    opacity: 0.85;
}

.table-container {
    overflow: scroll;
    max-width: 1400px;
    width: 100%;
    min-height: 800px;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(103, 112, 122, 0.25);
    background-size: cover;
    background: #dbf6ff07 url('../static/img/oblaka.png') no-repeat 1px 400px;
}

/* Стили таблицы (IKSWEB) */
table.main-page_table {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    position: absolute;


}

table.main-page_table th {
    font-weight: normal;
    font-size: 16px;
    min-width: 250px;
    width: 100%;
    color: #ffffff;
    background-color: #0061c975;
}


table.main-page_table td {
    font-size: 16px;
    color: #354251;
}

table.main-page_table td,
table.main-page_table th {
    white-space: pre-wrap;
    padding: 10px 5px;
    line-height: 16px;
    vertical-align: middle;
    border: 1px solid #7c87927a;
}

table.main-page_table tr:hover {
    background-color: #f9fafb;
}

table.main-page_table tr:hover td {
    color: #354251;
    cursor: default;
}

table.main-page_table tr:hover td {
    color: #354251;
    cursor: default;
}

table.main-page_table tr td:hover {
    cursor: pointer;
}

.button-exit {
    align-self: end;
    padding: 10px 25px;
    font-weight: 500;
    background: none;
    border: 1px solid rgb(90, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    font-family: inherit;
    cursor: pointer;
    transition: 0.15s;
}

.button-exit:hover {

    box-shadow: inset -1px 1px 5px #707070, inset 0 0 1px #4b4b4b,
    inset 0 -1px 0 #d9d9d9;
    transform: scale(0.98);
}

.popup-user {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    background-color: #00000075;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.popup-active {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;

}

.popup-user-container {
    max-width: 1300px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    /*размываем элемент*/
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 35px 25px;
    position: absolute;
    top: 300px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.popup_close {
    background: none;
    border: none;
    font-size: 30px;
    line-height: 1px;
    max-width: 35px;
    width: 100%;
    cursor: pointer;
    color: #000000;
    transition: 0.15s;
    align-self: end;
}

.popup_close:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

.popup-user_form {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    gap: 60px;

}

.popup-user_form-inputs-container {
    display: flex;
    max-width: 1300px;
    width: 100%;
    justify-content: space-around;
    margin-top: -25px;
}

.popup-user_btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 35px;
    margin-right: 35px;
}

.popup-user_btn-submit {
    border: none;
    padding: 15px 25px;
    background: #d9d9d9 none;
    font-size: 20px;
    font-family: inherit;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.popup-user_btn-submit:hover {
    transform: scale(0.98);
    opacity: 0.85;
    box-shadow: inset -1px -1px 15px -5px #0089bf6b;
}

.popup-user_btn-delete {
    border: none;
    padding: 15px 25px;
    background: #d9d9d9 none;
    font-size: 20px;
    font-family: inherit;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.popup-user_btn-delete:hover {
    transform: scale(0.98);
    opacity: 0.85;
    box-shadow: inset -1px -1px 15px -5px #bf36006b;
}

.admin-control-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
}

.add-new-user-btn {
    max-width: 250px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #008abf;
    color: white;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    align-self: first baseline;
}

.add-new-user-btn:hover {
    transform: scale(0.97);
    opacity: 0.85;
    box-shadow: -1px -1px 15px -5px #0000006b;
}

.popup-new-user-container {
    max-width: 1300px;
    width: 100%;
    min-height: 650px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    /*размываем элемент*/
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 35px 25px;
    position: absolute;
    top: 100px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.popup-new-user_form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 35px;
}

.popup-new-user_form-input {
    font-family: inherit;
    font-style: normal;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #595959;
    width: 100%;
    height: 40px;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    text-align: start;
    padding-left: 10px;
    padding-right: 10px;
}

.popup-new-user_form-input:focus {

    box-shadow: 1px 1px 10px rgba(0, 99, 145, 0.8);
}

.popup-new-user_form-submit {
    font-family: inherit;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #ffffff;
    width: 100%;
    height: 60px;
    /* Gray/Table header (gray-2) */
    background: #595959;
    /* Gray/Border (gray-5) */
    border: 2px solid #d9d9d9;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: 0.15s;
}

.popup-new-user_form-submit:hover {
    transform: scale(0.98);
}


@media (min-width: 320px) and (max-width: 1900px) {
    .main-page_form-filters-container {
        flex-wrap: wrap;
    }

    .main-page_form-input-container {
        max-width: 600px;
    }
}
